// --- COLORES BASE ---
$primary-color:   #0E4D80; // Tu primario
$secondary-color:  #45B653; // Tu secundario
$selection-color: #1E70B2; // Tu color de selección

//--- COLORES BOTONES ---
$color-edit:   #FAAB0E;
$color-delete: #DC2626; // rojo estándar
    //create:primary-color;
    //opcional:secondary-color;

// --- TIPOGRAFÍA ---
$font-principal: 'Inter', 'Segoe UI', Roboto, sans-serif;